@import url('page.css');

.container {
    padding: 2rem;
    max-width: 1200px;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.title {
    text-align: center;
    color: var(--secondary-color);
    margin-bottom: 2.5rem;
    font-size: 3rem;
}

.content {
    display: flex;
    justify-content: space-between;
}

.main-content {
    flex: 1;
    margin-right: 1.25rem;
}

.summary {
    text-align: center;
    font-weight: 600;
    font-size: 1.25rem;
    color: var(--quaternary-color);
    margin:  0 0 2rem 0;
}

.summary input {
    text-align: center;
    width: 15%;
    font-size: 1.25rem;
    color: var(--black-color);
    background-color: var(--primary-color);
    border-left: none;
    border-right: none;
    border-top: none;
    border-bottom: 1px solid var(--secondary-color);
    outline: none;
    font-family: var(--font-Quicksand);
    font-weight: 500;
    margin-top: 1rem;
}

.summary button {
    border: none;
    padding: 0.4rem 0.8rem;
    border-radius: 1rem;
    cursor: pointer;
    font-family: var(--font-Quicksand);
    font-weight: 600;
    margin-left: .5rem;
    color: var(--secondary-color);
    font-size: 1rem;
    transition: all 0.4s;
    outline: none;
}

.summary button:hover,
.summary button:focus {
    background-color: var(--quaternary-color);
    color: white;
}

#expense-form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 1.25rem;
}

#expense-name,
#expense-amount,
#expense-category,
.add-button {
    width: 48%;
    margin-bottom: 10px;
    padding: .5rem;
    border: 1px solid var(--grey-color);
    background-color: var(--primary-color);
    border-radius: 1rem;
    outline: none;
    font-family: var(--font-Quicksand);
    font-weight: 600;
    font-size: 1rem;
}

#expense-name:focus,
#expense-amount:focus,
#expense-category:focus {
    border: 1px solid var(--tertiary-color);
}

.add-button {
    background-color: var(--quaternary-color);
    color: var(--primary-color);
    cursor: pointer;
    transition: all 0.4s;
}

.add-button:hover,
.add-button:focus {
    background-color: var(--tertiary-color);
    border: 1px solid var(--tertiary-color);
}

.filters {
    margin: .8rem 0;
}

.filters label {
    font-weight: 600;
    margin-bottom: 1rem;
    font-size: 1.125rem;
}

.filters select {
    width: 50%;
    margin: .8rem 0 1rem;
    padding: .5rem;
    border: 1px solid var(--grey-color);
    border-radius: 1rem;
    outline: none;
    font-family: var(--font-Quicksand);
    font-weight: 600;
    font-size: 1rem;
}

.filters select:focus {
    border: 1px solid var(--tertiary-color);
}

table {
    border-collapse: collapse;
    margin-bottom: 20px;
    border-radius: 1rem;
    outline: solid 1px var(--grey-color);
    overflow: hidden;
    width: 100%;
}

table,
th,
td {
    border: 1px solid var(--grey-color);
}

th,
td {
    padding: 10px;
    text-align: center;
}

#total-expenses span,
#total-amount span {
    font-weight: 600;
}

.remove-expense {
    cursor: pointer;
    border: none;
    padding: 0.4rem 0.8rem;
    border-radius: 1rem;
    font-family: var(--font-Quicksand);
    font-weight: 600;
    margin-left: 1rem;
    color: var(--secondary-color);
    font-size: .8rem;
    transition: all 0.4s;
    outline: none;
}

.remove-expense:hover,
.remove-expense:focus {
    background-color: var(--red-color);
    color: var(--primary-color);
}

#charts {
    flex: 1;
    text-align: center;
}

#charts h3 {
    color: var(--secondary-color);
    font-size: 1.25rem;
    margin-top: 1rem;
}

#category-chart {
    max-width: 100%;
    margin-left: 2.25rem;
}

#no-data-message {
    text-align: center;
    font-size: 1rem;
}

@media (max-width: 768px) {
    .content {
        flex-direction: column;
    }

    .main-content {
        margin-right: 0;
    }

    .title {
        margin: .8rem 0;
        font-size: 2rem;
    }

    .summary input {
        width: 20%;
    }

    #expense-form {
        margin-bottom: 0;
    }

    #expense-name,
    #expense-amount,
    #expense-category,
    .add-button {
        width: 100%;
    }

    .add-button {
        margin-top: 1rem;
    }

    #category-filter {
        margin-bottom: 0;
    }

    .filters select {
        width: 100%;
    }

    table {
        width: 100%;
        font-size: 1rem;
    }

    th,
    td {
        padding: 5px;
        text-align: center;
        font-size: .8rem;
    }

    .remove-expense {
        margin-left: 0;
        padding: 0.2rem 0.4rem;
    }

    #charts {
        margin-top: 2rem;
    }

    #category-chart {
        margin-left: 0;
    }

}

@media (max-width: 380px) {
    .summary input {
        width: 100%;
        margin-bottom: .5rem;
    }

    .summary button {
        width: 100%;
        margin-left: 0;
        margin-top: .5rem;
    }

    .remove-expense {
        font-size: .6rem;
        padding: 0.2rem 0.4rem;
    }
}